

.board{
  height:800px;
  width:400px;
  background-color:black;
  color:white;
  font-size:50px;
  text-align:center;
 /*float:right;*/
  padding:10px;

  
}
.auth-card{
  padding:20px;
  background-color:rgb(87, 157, 157);
  width:400px;
  height:580px;
  border-radius:20px;
  font-size:20px;
  text-align: center;
  position:relative;
  left:700px;
  bottom:700px;
  overflow: hidden;

}
.auth-card1,.auth-card2,.auth-card3,.auth-card4{
  padding:20px;
  background-color:rgb(87, 157, 157);
  width:400px;
  height:500px;
  border-radius:20px;
  font-size:20px;
  text-align: center;
  position:relative;
  left:600px;
  top:100px;
}


input,button{
  font-size:25px;
  border-radius:5px;
  background-color:antiquewhite;
  line-height:25px;
  position:relative;
  left:px;
  
}
button{
  margin:10px;
  padding:5px;
}
.google{
  background-color:#df4930;
  border-radius:20px;
  font-size:30px;
  font-weight:500px;
  
}
